body {
    text-align: center;
    background-color: blanchedalmond;
}

h1 {
    color: red;
}

.calcContainer {
    width: 300px;
    height: 200px;
    background-color: gray;
    margin: 20px auto;
    padding: 20px;
    border-style: solid;
}

div.display {
    background-color: whitesmoke;
    text-align: right;
    height: 30px;
    width: 250px;
    border-style: solid;
    margin: auto;
    margin-bottom: 30px;
    font-size: 18px;
    padding: 10px 5px 2px 2px;
}

.buttons {
    display: flex;
    height: 120px;
    justify-content: space-between;
    padding: 10px;
}

.other {
    width: 100px;
    height: 120px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

button {
    width: 40px;
    border-style: solid;
    border-color: red;
    margin: 3px;
    flex: 0 0 auto;
    text-align: center;
}

button#clear {
    padding: 2px;
}
